{% extends "home/base.html" %}

{% block content %}

<a href='/core/customer/add/'>Add Customer</a>

<table width=100% cellpadding=0px cellspacing=0px style="border:1px solid #b1b1b1;">
	<tr>
		<td>Name</td>
		<td>EMail</td>
		<td>Street</td>
		<td>Zip</td>
		<td>Phone</td>
	</tr>

{% for customer in customers.object_list %}
	<tr>
		<td><a href='/core/customer/edit/{{customer.pk}}/'>{{customer.full_name}}</a></td>
		<td>{{customer.email}}</td>
		<td>{{customer.street}}</td>
		<td>{{customer.zipcode}}</td>
		<td>{{customer.phone}}</td>
	</tr>
{% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if customers.has_previous %}
            <a href="?page={{ customers.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ customers.number }} of {{ customers.paginator.num_pages }}.
        </span>

        {% if customers.has_next %}
            <a href="?page={{ customers.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}