{% extends "home/base.html" %}

{% block content %}
    <h1>My Settings</h1><br>

    {% if form.errors %}
        <div class='error-panel'>
            <span style='font-weight: bold;'><img height=24px align=absmiddle width=24px src='/static/img/error.png'> Oops..errors occured!</span><br><br>
            {% for field in form %}
                {% if field.errors %}
                    <span>{{ field.label }}: {{ field.errors.0 }}</span><br>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
        <table class='dataform' width=100%>

            <tr>
                <td><span class='dataform-lable'>{{ form.first_name.label }}</span><br>{{ form.first_name }}</td>
                <td><span class='dataform-lable'>{{ form.last_name.label }}</span><br>{{ form.last_name }}</td>
            </tr>

            <tr>
                <td><span class='dataform-lable'>{{ form.email.label }}</span><br>{{ form.email }}</td>
                <td><span
                        class='dataform-lable'>{{ form.change_password.label }} (Ony if you want to change)</span><br>{{ form.change_password }}
                </td>
            </tr>

            <tr>
                <td colspan=2 style='text-align: right;'>
                    <input class='form-button-primary' type="submit" value="Save"/>
                    <input class='form-button-secondary' type=button value="Cancel"
                           onclick="JavaScript: window.location.href='/home/'"/>
                </td>
            </tr>
        </table>
    </form>

{% endblock %}