
{% extends "core/base.html" %}

{% block scripts %}
    <script type="text/javascript" charset="utf-8">
        $('#tabCustomers').addClass('selected');
    </script>
{% endblock %}

{% block content %}
    <form action='/home/search/' method='POST'>{% csrf_token %}
        <input class='content-searchbar' type=text name='word'/>
        <input style='vertical-align: middle; visibility: hidden; display: none;' type=submit value="Search"></input>
    </form>

    <h2 class='pad20'>Top 20% Customers by purchase</h2>
    <table width=100% class='datatable'>

        <tr class='datarow pager'>

            <td colspan=4>
				<span style='float:right'>
			Limit by &nbsp;
			<select name="dur" id="dur" style='width:150px; height:30px;'>
                <option value="l1m" {% ifequal dur 'l1m' %}selected="selected"{% endifequal %}
                ">Last Month</option>
                <option value="l3m" {% ifequal dur 'l3m' %}selected="selected"{% endifequal %}
                ">Last 3 Months</option>
                <option value="l12m" {% ifequal dur 'l12m' %}selected="selected"{% endifequal %}
                ">Last 12 Months</option>
            </select>
		    &nbsp;&nbsp;

                    {% if stats_pur.has_previous %}
                        <a href="?dur={{dur}}&page={{ stats_pur.previous_page_number }}">previous</a>&nbsp;
                    {% endif %}
                    Page {{ stats_pur.number }} of {{ stats_pur.paginator.num_pages }}.&nbsp;
                    {% if stats_pur.has_next %}
                        <a href="?dur={{dur}}&page={{ stats_pur.next_page_number }}">next</a>
                    {% endif %}
			</span>
            </td>
        </tr>

        {% for item in stats_pur.object_list %}
            <tr class='datarow'>
                <td class='icon-cell'><img src='/static/img/person.png'></td>
                <td class='datarow-prime'>
                    <a class='datarow-title' href='/core/customer/view/{{item.pk}}/'>{{ item.full_name }}</a>
                    {% if item.company_name != "" %}
                        <br>
                        <span style="font-style: italic; font-size: 12px;">{{ item.company_name }}</span>
                    {% endif %}
                    <br>
                    <a class='datarow-action-link' href='/core/customer/edit/{{item.pk}}/'><img
                            src='/static/img/edit.jpg'> Edit</a><span>&nbsp;&nbsp;</span>
                    <a class='datarow-action-link' href='/core/customer/delete/{{item.pk}}/'
                       onclick='return getConfirmed("{{item.full_name}}");'><img src='/static/img/delete.png'>
                        Delete</a>
                </td>
                <td class='datarow-lables'><span class='datarow-item-lable'>Group</span><br><span
                        class='datarow-item-lable'>Purchases</span></td>
                <td class='datarow-items'><span class='datarow-item-value'>{{ item.group.name }}</span><br><span
                        class='datarow-item-value'>{{ item.total_purchases }}</span></td>
            </tr>
        {% endfor %}

    </table>

    <script>

        $(document).ready(function () {
            // register a listener with JQ to intimate when sort order changed
            $("#dur").change(function (a) {
                // findout selected sort order
                // and navigate to ... with details
                window.location.href = '/home/stats_pur/?dur=' + $(this).val();
            });

            $("#remove_all_customers").click(function () {
                // alert the user. because it is irreversible action
                result = confirm("Are sure want to remove all customers and related sales data?");
                if (result) {
                    window.location.href = '/core/customer/delete/0/';
                }
            });
        });

    </script>

{% endblock %}
