{% extends "core/base.html" %}

{% block scripts %}
    <script type="text/javascript" charset="utf-8">
        $('#tabCustomers').addClass('selected');
    </script>
{% endblock %}

{% block content %}
    <form action='/home/search/' method='POST'>{% csrf_token %}
        <input class='content-searchbar' type=text name='word'/>
        <input style='vertical-align: middle; visibility: hidden; display: none;' type=submit value="Search"></input>
    </form>

    <h2 class='pad20'>Bottom 30% Customers by revenue</h2>
    <table width=100% class='datatable'>

        <tr class='datarow pager'>

            <td colspan=4>
			<span style='float:right'>
		    &nbsp;&nbsp;

                {% if stats_monthly_growth.has_previous %}
                    <a href="?sort={{sort}}&page={{ stats_monthly_growth.previous_page_number }}">previous</a>&nbsp;
                {% endif %}
                Page {{ stats_monthly_growth.number }} of {{ stats_monthly_growth.paginator.num_pages }}.&nbsp;
                {% if stats_monthly_growth.has_next %}
                    <a href="?sort={{sort}}&page={{ stats_monthly_growth.next_page_number }}">next</a>
                {% endif %}
			</span>
            </td>
        </tr>

        {% for key,value in stats_monthly_growth.object_list %}
            <tr class='datarow'>
                <td class='datarow-prime'>
                    <p>{{ key }} : {{ value.0 }}</p>
                    {% if not item.1 %}
                        <br>
                        <span style="font-style: italic; font-size: 12px;">Actual Sales count [growth less than 1]</span>
                    {% endif %}
                    <br>

                </td>

            </tr>
        {% endfor %}

    </table>

    <script>

        $(document).ready(function () {
            // register a listener with JQ to intimate when sort order changed
            $("#sort").change(function (a) {
                // findout selected sort order
                // and navigate to ... with details
                window.location.href = '/core/customer/?sort=' + $(this).val();
            });

            $("#remove_all_customers").click(function () {
                // alert the user. because it is irreversible action
                result = confirm("Are sure want to remove all customers and related sales data?");
                if (result) {
                    window.location.href = '/core/customer/delete/0/';
                }
            });
        });

    </script>

{% endblock %}
