<html>
<head>
</head>
<body>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
<div style="margin: 0 auto; padding-top:100px; width:350px; ">
<table >

<tr>
	<td colspan=2>
	<img style="vertical-align:top;"src="{{MEDIA_URL}}img/logo.gif/"  />
	</td>
</tr>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
<tr>
<td></td>
<td style="text-align:right;">
<input class="button" type="submit" id="login" value=" Login " style="margin-right:13px;"/>
<input type="hidden" name="next" value="{{ next }}" />
</td>
</tr>

</table>
</form>

</body>
</html>