{% extends "core/base.html" %}

{% block scripts %}
    <script type="text/javascript" charset="utf-8">
        $('#tabCustomers').addClass('selected');
    </script>
{% endblock %}

{% block content %}
    <h2>Customer View</h2>

    <table class='viewtable' width=100%>
        <tr>
            <td class='icon-cell'><img src='/static/img/person.png'></td>
            <td colspan=4 class='viewrow-title'>{{ customer.full_name }}
                <br>
                <span style="font-style: italic; color: black; font-size: 12px;">{{ customer.company_name }}</span>

                <a class='viewrow-action-link' href='/core/customer/edit/{{customer.pk}}/'><img
                        src='/static/img/edit.jpg'> Edit</a><span>&nbsp;&nbsp;</span>
                <a class='datarow-action-link' href='/core/customer/delete/{{customer.pk}}/'
                   onclick='return getConfirmed("{{customer.full_name}}");'><img src='/static/img/delete.png'>
                    Delete</a>
            </td>
        </tr>
        <tr>

            <td></td>
            <td class='viewrow-lables'><span class='viewrow-item-lable'>Total Turnover Generated</span></td>
            <td class='viewrow-item-value'><span
                    class='viewrow-item-value'>{{ customer.total_turnover_generated }}</span></td>
            <td class='viewrow-lables'><span class='viewrow-item-lable'># of Purchases</span></td>
            <td class='viewrow-item-value'><span class='viewrow-item-value'>{{ customer.total_purchases }}</span></td>

        </tr>
        <tr>

            <td></td>
            <td class='viewrow-lables'><span class='viewrow-item-lable'>Group</span></td>
            <td class='viewrow-item-value'><span class='viewrow-item-value'><a
                    href='/core/group/view/{{customer.group.id}}/'>{{ customer.group.name }}</a></span></td>
            <td class='viewrow-lables'><span class='viewrow-item-lable'>Gifts Sent</span></td>
            <td class='viewrow-item-value'><span class='viewrow-item-value'>{{ customer.gifts_sent }}</span></td>

        </tr>
        <tr>

            <td></td>
            <td class='viewrow-lables'><span class='viewrow-item-lable'>Core Interests</span></td>
            <td class='viewrow-item-value'><span class='viewrow-item-value'>{{ customer.interests }}</span></td>
            <td class='viewrow-lables'><span class='viewrow-item-lable'>Surveys Sent</span></td>
            <td class='viewrow-item-value'><span class='viewrow-item-value'>{{ customer.surveys_sent }}</span></td>

        </tr>
        <tr>

            <td></td>
            <td class='viewrow-lables'><span class='viewrow-item-lable'>Connection With You</span></td>
            <td class='viewrow-item-value'><span class='viewrow-item-value'>{{ customer.get_connection_display }}</span>
            </td>
            <td class='viewrow-lables'><span class='viewrow-item-lable'>Path</span></td>
            <td class='viewrow-item-value'><span class='viewrow-item-value'>{{ customer.path }}</span></td>

        </tr>

        <tr>

            <td colspan=5 style="background-color:#e2eaed;"></td>

        </tr>

        <tr>

            <td></td>
            <td class='viewrow-lables'><span class='viewrow-item-lable'>Street</span></td>
            <td class='viewrow-item-value'><span class='viewrow-item-value'>{{ customer.street }}</span></td>
            <td class='viewrow-lables'><span class='viewrow-item-lable'>City</span></td>
            <td class='viewrow-item-value'><span class='viewrow-item-value'>{{ customer.city }}</span></td>

        </tr>

        <tr>

            <td></td>
            <td class='viewrow-lables'><span class='viewrow-item-lable'>State</span></td>
            <td class='viewrow-item-value'><span class='viewrow-item-value'>{{ customer.state }}</span></td>
            <td class='viewrow-lables'><span class='viewrow-item-lable'>Country</span></td>
            <td class='viewrow-item-value'><span class='viewrow-item-value'>{{ customer.country }}</span></td>

        </tr>

    </table>

    <div>
{% endblock %}
