{% extends "core/base.html" %}

{% block scripts %}
<script type="text/javascript" charset="utf-8">
$('#tabCustomers').addClass('selected');
</script>
{% endblock %}

{% block content %}
<div class='view-wrap'>
<b>Customer View</b>
<br><br>
<table width=100%>
<tr>
	<td>{{customer.full_name}} <a href='/core/customer/edit/{{customer.pk}}/'>View/Edit Info</a></td>
	<td>TOTAL REVENUE GENERATED: {{customer.total_turnover_generated}}</td>
</tr>
<tr>
	<td>Group: {{customer.group.name}} <a href='/core/group/view/{{customer.group.pk}}/'>View</a></td>
	<td>Purchases: {{customer.total_purchases}} <a href='/purchases/list/'>View</a></td>
</tr>
<tr>
	<td>Core Interests: {{customer.interests}}</td>
	<td>Gifts Sent: {{customer.gifts_sent}}</td>
</tr>
<tr>
	<td>Connection With You: {{customer.get_connection_display}}</td>
	<td>Surveys Sent: {{customer.surveys_sent}}</td>
</tr>
<tr>
	<td></td>
	<td>Path: {{customer.path}}</td>
</tr>
</table>

<div>
{% endblock %}