{% extends "core/base.html" %}

{% block scripts %}
<script type="text/javascript" charset="utf-8">
$('#tabGroups').addClass('selected');
</script>
{% endblock %}

{% block content %}
<input class='content-searchbar' type=text />
<h2 class='pad20'>Groups</h2>

<table width=100% class='datatable'>

{% for group in groups %}
	<tr class='datarow'>
		<td class='icon-cell'><img src='/static/img/group.png'></td>
		<td class='datarow-prime'><a class='datarow-title' href='/core/group/view/{{group.id}}/'>{{group.name}}</a></td>
	</tr>
{% endfor %}

</table>

{% endblock %}