{% extends "core/base.html" %}

{% block scripts %}
<script type="text/javascript" charset="utf-8">
$('#tabGroups').addClass('selected');
</script>
{% endblock %}

{% block content %}
<div class='view-wrap'>
<b>Group View</b>
<br><br>
<table width=100%>
<tr>
	<td>{{group.name}} <a href='/core/group/edit/{{group.pk}}/'>View/Edit Info</a></td>
	<td>TOTAL PROFIT FROM THEM: {{group.total_revenue_generated}}</td>
</tr>
<tr>
	<td>Main Characteristics: {{group.characteristics}}</td>
	<td>Purchases: {{group.total_purchases}}</td>
</tr>
<tr>
	<td>Core Interests: {{group.interests}}</td>
	<td>Gifts Sent: {{group.gifts_sent}}</td>
</tr>
<tr>
	<td>Connection With You: {{group.get_connection_display}}</td>
	<td>Surveys Sent: {{group.surveys_sent}}</td>
</tr>
<tr>
	<td>Rank: {{group.get_rank}}</td>
	<td>Most Common Path: {{group.most_common_path}}</td>
</tr>
</table>
</div>

<br>
<div>
<table style="width:100%">
<tr class='header'>
	<td class='first'>Customer</td>
	<td>Revenue</td>
</tr>
{% for customer in group.customer_set.all %}
<tr class="{% cycle 'odd' 'even' %}">
	<td class='first'><a href='/core/customer/view/{{customer.pk}}/'>{{customer.full_name}}</a></td>
	<td>{{customer.total_turnover_generated}}</td>
</tr>
{% endfor %}
</table>
</div>

{% endblock %}