{% extends "core/base.html" %}

{% block scripts %}
    <script type="text/javascript" charset="utf-8">
        $('#tabGroups').addClass('selected');
    </script>
{% endblock %}

{% block content %}
    <form action='/home/search/' method='POST'>{% csrf_token %}
        <input class='content-searchbar' type=text name='word'/>
        <input style='vertical-align: middle; visibility: hidden; display: none;' type=submit value="Search"></input>
    </form>
    <h2 class='pad20'>Groups</h2>

    <table width=100% class='datatable'>

        {% for group in groups %}
            <tr class='datarow'>
                <td class='icon-cell'><img src='/static/img/group.png'></td>
                <td class='datarow-prime'><a class='datarow-title'
                                             href='/core/group/view/{{group.id}}/'>{{ group.name }}</a></td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}