{% extends "core/base.html" %}

{% block scripts %}
    <script type="text/javascript" charset="utf-8">
        $('#tabSales').addClass('selected');
    </script>
{% endblock %}


{% block content %}
    <h2>{% if is_new %}Add a new{% else %}Edit{% endif %} Sale</h2>

    {% if is_new %}
        <div class='csv-import-add'>
            <p>
                Or <a href="/core/csv/sale/">import</a> your data from a csv file
            </p>
        </div>
    {% endif %}


    {% if form.errors %}
        <div class='error-panel'>
            <span style='font-weight: bold;'><img height=24px align=absmiddle width=24px src='/static/img/error.png'> Oops..errors occured!</span><br><br>
            {% for field in form %}
                {% if field.errors %}
                    <span>{{ field.label }}: {{ field.errors.0 }}</span><br>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}


    <form action="" method="post">{% csrf_token %}
        <table class='dataform' width=100%>
            <tr>
                <td><span class='dataform-lable'>{{ form.customer.label }}</span><br>{{ form.customer }}</td>
                <td><span class='dataform-lable'>{{ form.product.label }}</span><br>{{ form.product }}</td>
            </tr>

            <tr>
                <td><span class='dataform-lable'>{{ form.price.label }}</span><br>{{ form.price }}</td>
                <td><span class='dataform-lable'>{{ form.transaction_date.label }}</span><br>{{ form.transaction_date }}
                </td>
            </tr>

            <tr>
                <td><span
                        class='dataform-lable'>{{ form.shopping_cart_source.label }}</span><br>{{ form.shopping_cart_source }}
                </td>
                <td><span class='dataform-lable'>{{ form.marketing_source.label }}</span><br>{{ form.marketing_source }}
                </td>
            </tr>

            <tr>
                <td colspan=2 style='text-align: right;'>
                    <input class='form-button-primary' type="submit" value="Save"/>
                    <input class='form-button-secondary' type=button value="Cancel"
                           onclick="JavaScript: window.location.href='/core/sale/'"/>
                </td>
            </tr>
        </table>
    </form>

    <script>

        ProductPriceMap = Object();
        {% for product in products %}
            ProductPriceMap['{{product.pk}}'] = {{product.current_price}};
        {% endfor %}

        $(document).ready(function () {
            $("#id_transaction_date").datepicker();
            // register a listener with JQ to intimate when Product selection change
            $("#id_product").change(function (a) {
                // findout selected product and get price from ProductPriceMap
                // set the same to price textbox
                $("#id_price").val(ProductPriceMap[$(this).val()]);
            });
        });

    </script>
{% endblock %}
