{% extends "core/base.html" %}

{% block scripts %}
<script type="text/javascript" charset="utf-8">
$('#tabProducts').addClass('selected');
</script>
{% endblock %}

{% block content %}
<form action='/home/search/' method='POST'>{% csrf_token %}
<input class='content-searchbar' type=text name='word'/>
<input style='vertical-align: middle; visibility: hidden; display: none;' type=submit value="Search" ></input>
</form>
<h2 class='pad20'>Product List</h2>

<table width=100% class='datatable'>

	<tr class='datarow pager'>
		<td colspan=4 style='text-align:right;'>
			{% if products.has_previous %}
				<a href="?page={{ products.previous_page_number }}">previous</a>&nbsp;
			{% endif %}
			Page {{ products.number }} of {{ products.paginator.num_pages }}.&nbsp;
			{% if products.has_next %}
				<a href="?page={{ products.next_page_number }}">next</a>
			{% endif %}
		</td>
	</tr>
	
{% for product in products.object_list %}
	<tr class='datarow'>
		<td class='icon-cell'><img src='/static/img/product.png'></td>
		<td class='datarow-prime'>
			<a class='datarow-title' href='/core/product/view/{{product.pk}}/'>{{product.name}}</a>
			<br>
			<a class='datarow-action-link' href='/core/product/edit/{{product.pk}}/'><img src='/static/img/edit.jpg'> Edit</a>
		</td>
		<td class='datarow-lables'>
			<span class='datarow-item-lable'>Total Turnover</span><br>
			<span class='datarow-item-lable'>Date Released</span>
		</td>
		<td class='datarow-items'>
			<span class='datarow-item-value'>{{product.total_turnover_generated}}</span><br>
			<span class='datarow-item-value'>{{product.date_released}}</span>
		</td>
	</tr>
{% endfor %}

</table>

{% endblock %}