{% extends "core/base.html" %}

{% block scripts %}
<script type="text/javascript" charset="utf-8">
$('#tabPurchases').addClass('selected');
</script>
{% endblock %}

{% block content %}
<input class='content-searchbar' type=text />
<h2 class='pad20'>Purchase List</h2>

<table width=100% class='datatable'>

	<tr class='datarow pager'>
		<td colspan=4 style='text-align:right;'>
			{% if purchases.has_previous %}
				<a href="?page={{ purchases.previous_page_number }}">previous</a>&nbsp;
			{% endif %}
			Page {{ purchases.number }} of {{ purchases.paginator.num_pages }}.&nbsp;
			{% if purchases.has_next %}
				<a href="?page={{ purchases.next_page_number }}">next</a>
			{% endif %}
		</td>
	</tr>
	
	
{% for purchase in purchases.object_list %}
	<tr class='datarow'>
		<td class='icon-cell'><img src='/static/img/purchase.png'></td>
		<td class='datarow-prime'>
			<a class='datarow-title' href='/core/purchase/view/{{purchase.pk}}/'>Purchase#{{purchase.pk}}</a>
			<br>
			<a class='datarow-action-link' href='/core/purchase/edit/{{purchase.pk}}/'><img src='/static/img/edit.jpg'> Edit</a>
		</td>
		<td class='datarow-lables'>
			<span class='datarow-item-lable'>Customer</span><br>
			<span class='datarow-item-lable'>Product</span><br>
			<span class='datarow-item-lable'>Date</span>
		</td>
		<td class='datarow-items'>
			<span class='datarow-item-value'>{{purchase.customer.full_name}}</span><br>
			<span class='datarow-item-value'>{{purchase.product.name}}</span><br>
			<span class='datarow-item-value'>{{purchase.transaction_date}}</span>
		</td>
	</tr>
{% endfor %}

</table>

{% endblock %}