{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript" charset="utf-8">
</script>
{% endblock %}

{% block content %}
<h2 class='pad20'>Frequently asked questions</h2>

<p class='faqq'>Q: What is this?</p>
<p class='faqa'>This is a sample faq entry.</p>

<p class='faqq'>Q: Why is this?</p>
<p class='faqa'>This is to provide a sample view of how faq is presented in real. There is no limit on content size of faq. 
It can be anything including text, html, img, links etc.</p>

{% endblock %}