{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript" charset="utf-8">
    </script>
{% endblock %}

{% block content %}
    <h2 class='pad20'>Frequently asked questions</h2>

    <p class='faqq'>Q: How do I get started?</p>
    <p class='faqa'>Use the Quick Links on the right of the homepage to add
        customers, products, and sales. You can then view and sort these items by clicking on the top-menu bar links
        entitled Groups, Customers, Products, and Sales.</p>

    <p class='faqq'>Q: How do I import my data from another source?</p>
    <p class='faqa'>Currently Trackpattern supports data imports from csv files. Just click on the link for the type of
        data that you want to add (e.g. "Add Customer") on the right hand menu bar of the homepage. Then on the add
        record page, click "import".</p>

    <p class='faqq'>Q: How do I view the order of products bought particular customer?</p>
    <p class='faqa'>Click on "Customers", then click the particular customer that you want to view. The order of
        products bought is in the "path" field. </p>
    <p class='faqa'></p>

{% endblock %}
