{% extends "core/base.html" %}

{% block scripts %}
<script type="text/javascript" charset="utf-8">
$('#tabVategories').addClass('selected');
</script>
{% endblock %}

{% block content %}
<h2>Group View</h2>

<table class='viewtable' width=100%>
<tr>
	<td class='icon-cell'><img src='/static/img/group.png'></td>
	<td colspan=4 class='viewrow-title'>{{group.name}}</td>
</tr>
</table>

<h2 class='pad20'>Customers in {{group.name}}</h2>
<table class='datatable' width=100%>
{% for customer in group.customers %}
	<tr class='datarow'>
		<td class='icon-cell'><img src='/static/img/person.png'></td>
		<td class='datarow-prime'>
			<a class='datarow-title' href='/core/customer/view/{{customer.pk}}/'>{{customer.full_name}}</a>
		</td>
		<td class='datarow-lables'>
			<span class='datarow-item-lable'>Total revenue generated</span><br>
			<span class='datarow-item-lable'></span>
		</td>
		<td class='datarow-items'>
			<span class='datarow-item-value'>{{customer.total_turnover_generated}}<br>
			<span class='datarow-item-value'></span>
		</td>
	</tr>
{% endfor %}
</table>


{% endblock %}