{% extends "core/base.html" %}

{% block scripts %}
<script type="text/javascript" charset="utf-8">
$('#tabPurchases').addClass('selected');
</script>
{% endblock %}

{% block content %}
<h2>Purchase View</h2>

<table class='viewtable' width=100%>
<tr>
	<td class='icon-cell'><img src='/static/img/purchase.png'></td>
	<td colspan=4 class='viewrow-title'>Purchase#{{purchase.pk}}
	<a class='viewrow-action-link' href='/core/purchase/edit/{{purchase.pk}}/'><img src='/static/img/edit.jpg'> Edit</a></td>
</tr>

<tr>

 <td></td>
 <td class='viewrow-lables'><span class='viewrow-item-lable'>Product</span></td>
 <td class='viewrow-item-value'><span class='viewrow-item-value'><a href='/core/product/view/{{purchase.product.pk}}/'>{{purchase.product.name}}</a></span></td>
 <td class='viewrow-lables'><span class='viewrow-item-lable'>Total Price</span></td>
 <td class='viewrow-item-value'><span class='viewrow-item-value'>{{purchase.price}}</span></td>
 
</tr>

<tr>

 <td></td>
 <td class='viewrow-lables'><span class='viewrow-item-lable'>Customer</span></td>
 <td class='viewrow-item-value'><span class='viewrow-item-value'><a href='/core/customer/view/{{purchase.customer.pk}}/'>{{purchase.customer.full_name}}</a></span></td>
 <td class='viewrow-lables'><span class='viewrow-item-lable'>Date</span></td>
 <td class='viewrow-item-value'><span class='viewrow-item-value'>{{purchase.transaction_date}}</span></td>
 
</tr>

<tr>

 <td></td>
 <td class='viewrow-lables'><span class='viewrow-item-lable'>Shopping Cart Source</span></td>
 <td class='viewrow-item-value'><span class='viewrow-item-value'>{{purchase.shopping_cart_source}}</td>
 <td class='viewrow-lables'><span class='viewrow-item-lable'>Marketing Source</span></td>
 <td class='viewrow-item-value'><span class='viewrow-item-value'>{{purchase.marketing_source}}</span></td>
 
</tr>

</table>

{% endblock %}